*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

header{
    background-color: red;
    
}

body{
    font-size: 100%;
    background-color: white;
}

.cabecalho{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: right;

}
.cabecalho-redes{
    display: flex;
    gap: 15px;
}
.cabecalho-redes-item{
    padding: 10px 0px;
}