*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

header{
    background-color: red;
    display: flexbox;
    align-items: center;
    text-align: end;
    padding: 10px;
}

body{
    font-size: 100%;
    background-color: white;
}