*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    background-color: white;
}

.cabecalho{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: right;
}
.cabecalho-redes{
    display: flex;
    gap: 15px;
}
.cabecalho-redes-item{
    padding: 10px 5px;
}

.conteudo{
    border-top: 1px solid black;
    margin-bottom: 30px;

}

.conteudo-um{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.conteudo-dois{
    height: 50px;
    width: 30px;
    border: 1px solid black;
    
}





.rodape{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}